/* ==== Global imports ==== */
body {
  display: grid;
  grid-template-columns: 10;
  grid-template-rows: 11;
  margin: 0;
}

.meet_our_team {
  grid-column: 1/11;
  padding: 2em 10em 2em 10em;
  font-size: 0.875em;
}
.meet_our_team .team {
  width: 45%;
  float: left;
  padding: 1em 0 1em 0;
  margin: 0.2em;
  height: 353.5px;
}
.meet_our_team .team .image {
  width: 45%;
  float: left;
  padding: 1em;
}
.meet_our_team .team .image img {
  width: 100%;
}
.meet_our_team .team .text {
  padding: 1em;
  width: 40%;
  float: left;
}
.meet_our_team .team .text h3 {
  margin: 0.5em 0 0.5em 0;
}
.meet_our_team .team .text p {
  margin: 0;
}

.statistics {
  grid-column: 1/11;
  background-color: black;
  padding: 2em;
}
.statistics .text {
  color: white;
  text-align: center;
  float: left;
  width: 25%;
}
.statistics .text h2 {
  margin: 1em 0 0.2em 0;
}
.statistics .text p {
  margin: 0.5em 0 2em 0;
}

.companies {
  grid-column: 1/11;
  color: white;
  padding: 2em 0em 2em 0em;
  background: black;
  text-align: center;
}
.companies img {
  width: 6.7em;
  padding: 0em 1em 0em 1em;
}

.header {
  grid-column: 1/11;
  padding: 4em;
  color: white;
  text-align: center;
  background-size: cover;
  font-size: 1.5em;
}
.header .text {
  padding: 1em;
}
.header button {
  background-color: #ee534f;
  color: white;
  padding: 0.5em 2em 0.5em 2em;
  font-size: 1em;
  border-radius: 0.25em;
  border: 0.1em solid white;
}

.portfolio {
  grid-column: 1/11;
  padding: 1em 15em 1em 15em;
  font-size: 0.875em;
}
.portfolio .text {
  float: left;
  padding: 1em;
}
.portfolio .text h2 {
  border-bottom: 0.1em solid red;
  margin: 0;
  padding-bottom: 0.5em;
}
.portfolio .pictures {
  width: 45%;
  padding: 1em;
  float: left;
}
.portfolio .pictures img {
  width: 45%;
  height: 10em;
  padding: 0.5em 0 0;
}
.portfolio .queen {
  width: 45%;
  float: left;
  padding: 1.5em;
}

.subscription {
  grid-column: 1/11;
  padding: 2em;
  text-align: center;
}
.subscription input {
  height: 1.5em;
  width: 20em;
  padding: 0.5em;
}
.subscription button {
  height: 2.5em;
  width: 8em;
  background: red;
  color: white;
  border: none;
  border-radius: 0.2em;
}

.contact_details {
  grid-column: 1/11;
}

nav {
  grid-column: 1/11;
  grid-row: 1/2;
  padding: 1em 1em 1em 3em;
  background: white;
}
nav .logo {
  width: 35%;
  float: left;
}
nav .logo img {
  width: 10em;
}
nav ul {
  padding: 0.3em 0 0 0;
  float: left;
}
nav ul li {
  list-style-type: none;
  display: inline-flex;
  padding-right: 2em;
  font-size: 0.875em;
}
nav ul li a {
  text-decoration: none;
  color: #666666;
}
nav ul li a:hover {
  color: #ee534f;
}
nav .searchbar {
  float: left;
  margin: 1.2em 0 0 7em;
}
nav .searchbar input {
  border: 0.1em solid #666666;
  border-radius: 0.25em 0 0 0.25em;
  padding: 0.2em;
  border-right: 0;
}
nav button {
  margin-left: -0.29em;
  background: white;
  color: #ee534f;
  height: 1.745em;
  border-radius: 0 0.2em 0.2em 0;
  width: 3em;
}

.whoweare {
  grid-column: 1/11;
  padding: 1em 15em 1em 15em;
  background: white;
  font-size: 0.875em;
}
.whoweare .text {
  width: 45%;
  float: left;
  padding: 1em;
}
.whoweare .text h2 {
  border-bottom: 0.1em solid red;
  margin: 0;
  padding-bottom: 0.5em;
}
.whoweare .pictures {
  width: 45%;
  padding: 1em;
  float: left;
}
.whoweare .pictures img {
  width: 45%;
  height: 10em;
  padding: 0.5em;
}

.icon_brief {
  grid-column: 1/11;
  padding: 1em;
  background-color: black;
  color: white;
  font-size: 0.875em;
}
.icon_brief h3 {
  font-size: 1.25em;
}
.icon_brief .coding {
  text-align: center;
  padding: 2em;
  width: 20%;
  float: left;
}
.icon_brief .coding .icon img {
  width: 5em;
}

/*# sourceMappingURL=main.css.map */
