// holds boilerplate content. It holds the style of every page of my site should receive.

// box-sizing, body, headings

body {
    display: grid;
    grid-template-columns: (10);
    grid-template-rows: (11);
    margin: 0;
}

.meet_the_team {
    grid-column: 1/11;
    padding: 1em 15em 1em 15em;
}