// holds all the micro-layout files. Styling of buttons and navigation and similar page components.

// navbar logo
// contains grid-column, grid-row, padding, background-color, width and float
nav {
  grid-column: 1/11;
  grid-row: 1/2;
  padding: 1em 1em 1em 3em;
  background-color: white;

  .logo {
    width: 35%;
    float: left;
    img {
      width: 15em;
    }
  }

  ul {
    font-size: 0.938em; 
    padding: 0.5em;
    float: left;
    padding-top: 0.563em;;

    li {
      display: inline-flex;
      padding-right: 1em;

      a {
        text-decoration: none;
        color: grey;
      }

      a:hover {
        color: #e1918a;
      }
    }
  }

  .searchbar {
    float: left;
    margin: 1.2em 0 0 9em;
  }

  button {
    margin-left: -0.29em;
    color: red;
    border-radius:0.2em;
    width: 3em;
    border-radius:0 0.2em 0.2em 0;
    height: 1.745em;
  }
}


// .icon_brief {
//   grid-column: 1/11;
//   padding: 1em;

//   .coding {
//     text-align: center;
//     padding: 2em;
//     width: 20%;
//     float: left;

//     .icon {

//       .img {
//         width: 5em;
//       }
//     }
//   }
// }

