// holds all the micro-layout files. Styling of buttons and navigation and similar page components.

//  header for display,grid-template-columns,grid-template-rows,width,height,position,top,right,left,and background-colour
 header{
  width:100%;
  height: auto;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
}

// nav unordered list-style,list-style-type,float,and margin-top
nav ul{
  list-style: none;
  list-style-type: none;
  float: right;
  margin-top: 10mm;
  color: grey;
}
// nav image width,height,and float
nav img{
      width: 240px;
      height: 100px;
      float: left;
}
// nav list font-size,display,and padding
nav li{
  font-size: 22px;
  display: inline;
  padding: 10px;
}

header nav ul li a:hover,
header nav ul li a.active {
    color:  #e38f84;
}

nav a {
  color: grey;
  text-decoration: none;
}

/*search bar float*/
.searchBar{
  float: right;
}

p {
  float: left;
}