// styles for major sections of the layout like a header or footer and styles for grid system.

.header {
  grid-column: 1/11;
  padding: 3em;
  color: white;
  text-align: center;
  background-size: cover;
  font-size: 1.5em;

  .text {
      padding: 1em;
  }
  
  button{
      background: none;
      color: white;
      padding: 0.5em 2em 0.5em 2em;
      font-size: 1em;
      border-radius: 0.2em;
      border: 0.1em solid white; 
    }
}
